.login {
  margin-top: 70px;
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 400px;

 border-radius: 10px ;
 border: 2px solid lightgray;

}

.login > img {
  object-fit: contain;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login > form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.login > form > input {
  width: 350px;
  height: 50px;
  font-size: 18px;
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  outline-color: #eb0392;
  border: 1px solid black;
}
.login > form > input:hover{

  box-shadow: inset 0 0 0 1px var(--color-border);
}
.login > form > button {
  width: 365px;
  height: 50px;
  font-size: large;
  font-weight: 400;
  color: #fff;
  background-color: #eb0392;
  border-color: #eb0392;
  border-radius: 25px;
  border: 0;
}


.login > form > button:hover {

  background: #c20078;
  border: none;
}